<div class="container col-md-12">
  <h2>All Employees</h2>
  <br />
  <div>
      <button (click)="addEmployee()" class="btn btn-info">Add Employee</button>
  </div>
  <div class="table-responsive table-container">
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Hire Date</th>
          <th>Role</th>
          <th>Comments</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td class="pull-left">
            <button (click)="updateEmployee(employee)" class="btn btn-info"> Edit</button>
          </td>
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.hireDate}}</td>
          <td>{{employee.role}}</td>
          <td>{{employee.comments}}</td>
          <td class="pull-left">
            <button (click)="deleteEmployee(employee)" class="btn btn-info"> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
